@import './reset.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  background-color: #101011;
  min-width: 1440px;
}

.ant-radio-group {
  background-color: #1d1d1e !important;
  border: 1px solid #3e3e3e !important;
  border-radius: 8px;
}
.ant-radio-button-wrapper {
  background-color: #1d1d1e;
  border-color: #3e3e3e !important;
  border: none !important;
  font-weight: bold;
  color: #7b7b7b !important;
  padding: 0 28px;
  &:active {
    color: #fff;
  }
  &:not(:first-child)::before {
    /* 隐藏垂直分隔线 */
    display: none !important;
  }
  &.ant-radio-button-wrapper-checked {
    border-radius: 8px;
    border: none !important;
    background-color: #3b3b3b !important;
    color: #fff !important;
  }
}

.switch-btn {
  background-color: #1d1d1e !important;
}

.location-select .ant-select-selector,
.t-select .ant-select-selector {
  border-radius: 8px !important;
  border-color: #3e3e3e !important;
  background: #1d1d1e !important;
  .ant-select-selection-item {
    color: #fff !important;
  }
}
.location-select .ant-select-arrow,
.t-select .ant-select-arrow {
  color: #7c7c7c !important;
}

// .location-select
.ant-select-dropdown {
  background: #1d1d1e !important;
  border: 1px solid #3e3e3e !important;
}
.ant-select-item.ant-select-item-option {
  color: #fff !important;
}
.ant-select-item.ant-select-item-option:hover {
  background: #3e3e3e !important;
}
.ant-select-item.ant-select-item-option.ant-select-item-option-selected {
  background: #3e3e3e !important;
}
