@use './reset' as reset;

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  background-color: #101011;
  min-width: 1440px;
}

.ant-radio-group {
  background-color: #1d1d1e !important;
  border: 1px solid #3e3e3e !important;
  border-radius: 8px;
}
.ant-radio-button-wrapper {
  background-color: #1d1d1e;
  border-color: #3e3e3e !important;
  border: none !important;
  font-weight: bold;
  color: #7b7b7b !important;
  padding: 0 28px;
  &:active {
    color: #fff;
  }
  &:not(:first-child)::before {
    /* 隐藏垂直分隔线 */
    display: none !important;
  }
  &.ant-radio-button-wrapper-checked {
    border-radius: 8px;
    border: none !important;
    background-color: #3b3b3b !important;
    color: #fff !important;
  }
}

.switch-btn {
  background-color: #1d1d1e !important;
}

.location-select .ant-select-selector,
.t-select .ant-select-selector {
  border-radius: 8px !important;
  border-color: #3e3e3e !important;
  background: #1d1d1e !important;
  .ant-select-selection-item {
    color: #fff !important;
  }
}
.location-select .ant-select-arrow,
.t-select .ant-select-arrow {
  color: #7c7c7c !important;
}
// map select
.map-select {
  border: none !important;
  height: 40px;
  .ant-select-selector {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 0 !important;
    border-radius: 24px;
  }
}
.map-select-dark {
  border: none !important;
  height: 40px;
  &.ant-select-open .ant-select-selection-item {
    color: #fff !important;
  }
  .ant-select-selector {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 0 !important;
    border-radius: 24px;
    background-color: rgba(51, 51, 54, 0.7) !important;
    color: #fff;
  }
  .ant-select-arrow {
    color: #fff !important;
  }
}
.map-dropdown.ant-select-dropdown {
  background: #fafafa !important;
  .ant-select-item.ant-select-item-option {
    color: rgba(28, 28, 28, 1) !important;
  }
  .ant-select-item.ant-select-item-option:hover {
    background-color: rgba(0, 0, 0, 0.04) !important;
  }
  .ant-select-item.ant-select-item-option.ant-select-item-option-selected {
    background-color: rgba(0, 0, 0, 0.04) !important;
  }
}
// .dark-dropdown
.dark-dropdown.ant-select-dropdown {
  background: #1d1d1e !important;
  border: 1px solid #3e3e3e !important;
  .ant-select-item.ant-select-item-option {
    color: #fff !important;
  }
  .ant-select-item.ant-select-item-option:hover {
    background: #3e3e3e !important;
  }
  .ant-select-item.ant-select-item-option.ant-select-item-option-selected {
    background: #3e3e3e !important;
  }
}

.popup-dark .leaflet-popup-content-wrapper {
  background: #333336b2;
}
.leaflet-marker-icon {
  width: auto !important;
  height: auto !important;
  border-radius: 50%;
  border: none;
}
.leaflet-popup-content {
  width: 150px !important;
}
.leaflet-popup-close-button {
  display: none;
}
